Bio==1.7.1
biopython==1.83
hdbscan==0.8.36
matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
scipy==1.14.0
umap_learn==0.5.6
datashader==0.16.1
bokeh==3.4.1
holoviews==1.18.3
scikit-image==0.23.2
colorcet==3.1.0
dask-expr==1.1.2